<div class="user-login">
  <% flash.each do |key, value| %>
  <div class='alert alert-<%= key %>' role='alert'>
    <%= value %>
  </div>
  <% end %>
  
  <%= form_for :user, url: sessions_path do |f| %>
    <%= f.text_field :username, placeholder: "username", class: 'form-control' %>
    <br>
    <br>
    <%= f.password_field :password, placeholder: "password", class: 'form-control' %>
    <br>
    <br>
    <%= f.submit "LOG IN", class: "btn btn-primary" %>
  <% end %>
</div>