<h1>Go Fish</h1>
<h3>Your Flashcards</h3>
 

  <table>
    <thead>
      <tr>
        <th>Word</th>
        <th>Pronunciation</th>
        <th>Definition</th>
        <th>Related Words</th>
        <th colspan="6"></th>
      </tr>

    <tbody>  
      <% @flashcards.each do |flashcard| %>
        <tr>
          <td><%= flashcard.word %></td>
          <td><%= flashcard.pronunciation %></td>
          <td><%= flashcard.definition %></td>
          <td><%= flashcard.related_words%></td>
        </tr>
      <% end %> 
    </tbody> 
  </table> 


  <br>
  <br>
   <%= link_to 'New flashcard', new_flashcard_path %>
