<h1>Go Fish</h1>
<h3>Your Flashcards</h3>
 
<div>
  <label><input id="striped" type="checkbox"> striped</label>
</div>
    <table id="table-style" data-url="data1.json" data-height="400" data-row-style="rowStyle">
      <thead>
        <tr>
          <th data-field="word" class="col-md-2">WORD</th>
          <th data-field="pronunciation" class="col-md-2">PRONUNCIATION</th>
          <th data-field="definition" class="col-md-4">DEFINITION</th>
          <th data-field="related_words" class="col-md-3">RELATED WORDS</th>
        </tr>
      </thead>
    </table>      
          

      <tbrdy>  
        <% @flashcards.each do |flashcard| %>
          <tr>
            <td><%= flashcard.word %></td>
            <td><%= flashcard.pronunciation %></td>
            <td><%= flashcard.definition %></td>
            <td><%= flashcard.related_words%></td>
          </tr>
        <% end %> 
      </tbody> 
    </table>
    <%= link_to 'New flashcard', new_flashcard_path %>
  </div>
</div>



