
<div class="individual-card container">
  <% if current_user %>  
  <p><%= @flashcard.word %></p>
  <p><%= @flashcard.examples %></p><br>
  <p><%= @flashcard.definitions %></p><br>

  <% else %>
  <%= link_to "Back to my flashcards", flashcards_path %>
  <%= link_to "Create a new flashcard", new_flashcard_path %>
  <% end %>
</div>

