

<h2><strong><%= @flashcard.word %></strong></h2><br>
<p><%= @flashcard.pronunciation %></p><br>
<p><%= @flashcard.definition %></p><br>
<p><%= @flashcard.related_words %></p><br>

<%= link_to "Back to my flashcards", flashcards_path %>
<%= link_to "Create a new flashcard", new_flashcard_path %>

    