
<div class="individual-card">
  <% if current_user %>
    <% if @flashcard.user.id == current_user.id %>
    <p><strong><%= @flashcard.word %></strong></p>
    <br>
    <p><%= @flashcard.pronunciation %></p><br>
    <p><%= @flashcard.definition %></p><br>
    <p><%= @flashcard.related_words %></p><br>
    <%= link_to "Edit this flashcard", edit_flashcard_path(@flashcard) %>
    
    <% else %>
    <%= link_to "Back to my flashcards", flashcards_path %>
    <%= link_to "Create a new flashcard", new_flashcard_path %>
    <% end %>
  <% end %>
</div>
