<br>
<br>

<div class="container">
  <div class='row'>
    <div class="col-sm-6 col-md-offset-3"> 
      <h2>Word Results</h2>
      <br>
      <br>
      WORD:            <%= @word_definitions[0]["word"] %>
                      <br> 
      PRONUNCIATION:   <%= @word_pronunciations[0]["raw"] %> 
                      <br>
      DEFINITION:      <%= @word_definitions[0]["text"] %> 
                      <br>
      SYNONYMS:        <% @word_related_words[0]["words"].each do |synonym| %>
                       <%= synonym %>
      <% end %>
      <br>
      <br>

      <%= submit_tag('Create flashcard') %>
    </div>
  </div>
</div> 