<h1>Word Results</h1>


<br>
<br>

<%= @word_definitions.each do |definition| %>
  <%= definition["word"] %><br>
  <%= definition["text"] %><br>
  <%= definition["partOfSpeech"] %><br>
 <!--  <%= definition["relatedWords"] %> -->

<% end %>

 <%= submit_tag('Create flashcard') %>