<div class='center jumbotron'>
  <h1>Wordii</h1>
  <br>
  <br>
  <div class="container">
    <div class='row'>
      <div class = 'col-md-5'>
   	    <h2><small></small></h2>  
   		  <p></p>
      </div>
      <div class="col-md-5 col-md-offset-2"> 
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages' %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>
          <br>
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
          <br>
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
          <br>
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
       
   


   
