Sign Up Page


<h1><Word.Smith.></h1>
<h3>Welcome and thanks for dropping by. Thank you for partnering with Word.Smith. - we are excited to work with you. Sign up and let's learn something!</h3>


<ul>
<% @user.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<img data-src="holder.js/300x300" alt="...">
			<div class="caption">
				<h3>Thumbnail label</h3>
				<p>...</p>
				<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>
	</div>
</div>

<%= form_for(@user) do |f|%>
	
	username:
	<%= f.text_field :username %>

	email:
	<%= f.text_field :email %>

	password:
	<%= f.password_field :password %>

	confirm your password:
	<%= f.password_field :password_confirmation %>

	<%= f.submit "Sign up" %>

<% end %>
