<!-- User Profile Page with all user's flashcards -->

<div class="show-profile">
  <p class="hello"><span>hello,</span> <%= current_user.username.upcase %>!</p>
  <div class="link"><%= link_to 'Create a new flashcard', new_flashcard_path %></div>
  <hr class="divider-horizontal"/>
</div>

<div class="show-flashcards">
  <h3>My Flashcards</h3>
  <div class="flashcard-columns">
    <% if current_user.flashcards %>
      <% current_user.flashcards.each do |u| %>
        <div class="flip">
          <div class="card">
            <div class="face front">
              <p><%= u.word %></p>
            </div>

            <div class="face back">  
              EXAMPLE:
              <p><%= u.examples %></p>
              <br>
              DEFINITION:
              <p><%= u.definition %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


 

