<!DOCTYPE html>
<html>
<head>
  <title>Wordi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="links">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li> Hello, <%= current_user.username.upcase %>. Welcome back!</li>
        <a type="button" class="btn btn-warning navbar-btn navbar-right" href="/logout">Log out</a>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <a type="button" class="btn btn-info navbar-btn navbar-right" href="/flashcards">Flashcards</a>
        <% else %>
        <li><%= link_to "Sign up", '/users/new' %></li>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>


  <%= yield %>
</body>
</html>
    

