<!DOCTYPE html>
<html>
<head>
	<title>Home | Word.Smith. App</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
</head>
<body>
	<h1>Word.Smith.</h1>
	<h3>Designed to help you learn vocabulary quickly and effectively.</h3>


	<%= render partial: "layouts/flash" %>

	<header class="row global-header">
		<div class="small-12 small-centered columns">
		<%= render partial: 'layouts/header_logged_out' %> 
		</div>
	</header>

	<div class="row">
		<div class="small-12 small-centered columns">
	<%= yield %>
</div>

<footer class="row global-footer">
	<div class="small-12 small-centered columns">
		<%= link_to "Already have an account? Sign in.", login_path %>
	</div>
</footer>

</body>
</html>